Malformed template error when query-string param names have hyphens

The following will throw a `Malformed template` error:

```c#
var apiBase = "https://azure.search.windows.net/";
var apiPath = "{componentName}/{itemName}{?api-version}";
var template = new UriTemplate(string.Concat(apiBase, apiPath));
template.GetParameterNames();
```

This will work fine:

```c#
var apiBase = "https://azure.search.windows.net/";
var apiPath = "{componentName}/{itemName}{?api_version}";
var template = new UriTemplate(string.Concat(apiBase, apiPath));
template.GetParameterNames();
```

Is the use of a hyphen in `api-version` a violation of [URI Template Spec RFC6570?](http://tools.ietf.org/html/rfc6570)

Interestingly, this will work: `{?api%2Dversion}`


[According to the RFC 6570 section 2.3 on var names](https://datatracker.ietf.org/doc/html/rfc6570#section-2.3) only the following characters are allowed in the variable name:
- alpha a-z
- digit 0-9
- _
- percent encoded triplet.

And then proceeds to define

> A varname MAY contain one or more pct-encoded triplets.  These
   triplets are considered an essential part of the variable name and
   are not decoded during processing

So the current behavior you're describing follows the specification.

Closing since this is an old issue.